# **Taller 2**
### **Integrantes:**
* Diego Felipe Carvajal Lombo (201911910)
* Brenda Catalina Barahona Pinilla (201812721)
* Sergio Julian Zona Moreno (201914936)

# **Carga y muestreo de los datos**

In [1]:
# Importación de librerias
seed = 2023
import pandas as pd
import numpy as np

# **Carga de datos**

In [14]:
# read a portion of the JSON file into a pandas DataFrame
def load_json(path):    
    chunk_size = 50000
    df = pd.read_json(path, lines=True, nrows=chunk_size, encoding='utf-8')
    return df

In [15]:
# Charge df_tip
df_business = load_json('data/yelp_academic_dataset_business.json')
df_business

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,GAgosZDSlzC5WpGrb0ic4g,Perry Anthony Salon & Spa,5331 Limestone Rd,Wilmington,DE,19808,39.746909,-75.698912,4.0,17,1,"{'BusinessParking': '{'garage': False, 'street...","Beauty & Spas, Hair Salons, Fitness & Instruct...","{'Monday': '9:30-20:0', 'Tuesday': '9:30-20:0'..."
49996,EUvjJe90Hxh6wznY9qEbsQ,Fantastic Sams Cut & Color,3150 Tampa Rd,Oldsmar,FL,34677,28.049983,-82.698013,3.5,12,1,"{'GoodForKids': 'True', 'BikeParking': 'False'...","Hair Salons, Beauty & Spas, Hair Removal, Barbers","{'Monday': '9:0-19:0', 'Tuesday': '9:0-19:0', ..."
49997,Wig7D8bw0nvsZ9mM6EGpSA,Sun Valley Express,6903 W Targee St,Boise,ID,83709,43.582506,-116.267858,3.0,8,1,{'WiFi': 'u'free''},"Public Transportation, Limos, Airport Shuttles...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-15:30', ..."
49998,_Hxa4-Dj0C4NqcJZ-J1_PA,Public Storage,6117 Charlotte Pike,Nashville,TN,37209,36.147023,-86.868538,4.0,8,1,{'BusinessAcceptsCreditCards': 'True'},"Self Storage, Local Services","{'Monday': '9:30-18:0', 'Tuesday': '9:30-18:0'..."
49999,wKHS2tE5VMGiL6VWPAXESA,Goodland Jiu Jitsu,5140 Hollister Ave,Goleta,CA,93111,34.435834,-119.802921,4.5,8,1,"{'GoodForKids': 'True', 'BusinessParking': '{'...","Brazilian Jiu-jitsu, Martial Arts, Active Life...","{'Monday': '6:30-20:0', 'Tuesday': '6:30-20:0'..."

In [16]:
# Charge df_checkin
df_checkin = load_json('data/yelp_academic_dataset_checkin.json')
df_checkin

,business_id,date
0,---kPU91CF4Lq2-WlRu9Lw,"2020-03-13 21:10:56, 2020-06-02 22:18:06, 2020..."
1,--0iUa4sNDFiZFrAdIWhZQ,"2010-09-13 21:43:09, 2011-05-04 23:08:15, 2011..."
2,--30_8IhuyMHbSOcNWd6DQ,"2013-06-14 23:29:17, 2014-08-13 23:20:22"
3,--7PUidqRWpRSpXebiyxTg,"2011-02-15 17:12:00, 2011-07-28 02:46:10, 2012..."
4,--7jw19RH9JKXgFohspgQw,"2014-04-21 20:42:11, 2014-04-28 21:04:46, 2014..."
...,...,...
49995,NJaR_2hke7NNAC6l1Ohr8g,"2015-01-16 02:17:10, 2015-01-16 04:45:59, 2015..."
49996,NJcoVbVwnYigsQVDOgl29Q,"2013-07-27 23:05:38, 2013-08-10 22:42:26, 2013..."
49997,NJe5fkia_63rdKXRdJlmkA,"2018-12-08 02:43:45, 2018-12-09 23:34:42, 2018..."
49998,NJg2ookzRGD2Ej-VNpuY-w,"2010-11-02 23:09:05, 2010-11-05 14:10:24, 2011..."
49999,NJhWEmpgMTo_QtndFqu3Hg,"2018-04-03 01:12:08, 2018-04-11 00:48:20, 2018..."

In [17]:
# Charge df_review
df_review = load_json('data/yelp_academic_dataset_review.json')
df_review

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15
...,...,...,...,...,...,...,...,...,...
49995,V_bNx4GEH8ChNNA0GPMrOA,_-x9v81zddshIEwRirV7kQ,GBTPC53ZrG1ZBY3DT8Mbcw,4,0,0,0,Came here first for breakfast and had their yu...,2016-10-29 00:54:49
49996,5beIdB00qToFzllb4alZNQ,VEOTasfs8zYs7grZ4C5Xfw,EQ-TZ2eeD_E0BHuvoaeG5Q,2,0,0,0,Food was good. I had a decent breakfast but no...,2017-08-09 13:12:33
49997,rjFWnq1zQTRzCyqV0jzZHw,AT_p7NkLqd50ugp3wjFg2Q,_RFqyBgklIBqOAM-zzV_WQ,3,0,1,0,It's cool that Second Image is trying. They so...,2010-07-11 21:41:35
49998,8LRFPHiso_kuCseg5BJx8A,NSCNU_j0vSdeRMIme3H0rg,8agPzX-O-8LEDjDNloSdzQ,4,1,0,1,"Best shrimp on the beach! Steamed to order, d...",2017-04-09 23:23:56
49999,5C6u-caMG39RkvDuAYSVew,TnLZ2QkrO9WpzDLLORvJtQ,M0c99tzIJPIbrY_RAO7KSQ,4,0,0,0,"The hotel is very nice and clean, and looks fa...",2016-08-06 02:17:10

In [26]:
df_review["cool"].min()

0

In [29]:
df_review["cool"].max()

49

In [18]:
# Charge df_tip
df_tip = load_json('data/yelp_academic_dataset_tip.json')
df_tip

,user_id,business_id,text,date,compliment_count
0,AGNUgVwnZUey3gcPCJ76iw,3uLgwr0qeCNMjKenHJwPGQ,Avengers time with the ladies.,2012-05-18 02:17:21,0
1,NBN4MgHP9D3cw--SnauTkA,QoezRbYQncpRqyrLH6Iqjg,They have lots of good deserts and tasty cuban...,2013-02-05 18:35:10,0
2,-copOvldyKh1qr-vzkDEvw,MYoRNLb5chwjQe3c_k37Gg,It's open even when you think it isn't,2013-08-18 00:56:08,0
3,FjMQVZjSqY8syIO-53KFKw,hV-bABTK-glh5wj31ps_Jw,Very decent fried chicken,2017-06-27 23:05:38,0
4,ld0AperBXk1h6UbqmM80zw,_uN0OudeJ3Zl_tf6nxg5ww,Appetizers.. platter special for lunch,2012-10-06 19:43:09,0
...,...,...,...,...,...
49995,OUD1t1__WFnaodS4y6o28g,Kup9m2JnUJrnnULc9zjDQQ,Chai smoothie is really good. All foods are bl...,2015-04-24 15:20:21,0
49996,VJFpYkhQye1VTXsJND9HHw,WE3D52UfHvvVdTHgzJ_1vw,Worst bar in America lol this place is terrible!,2016-12-25 05:54:41,0
49997,R53y0qIWqJZxnbyWNDbrMg,X6_5_b4gVKo83VPn0FyONw,"Free ""upsize"" 8/14-8/16",2015-08-14 18:20:25,0
49998,7xQYlgl7YKX8RfbB5SdK_Q,Yb04s8ffQODSYWyNmrCjGw,Try the new organic pedicure for a treat!,2012-03-25 17:45:40,0
49999,JxA595MQSkNqzSfMXYWatw,z6qtUn2bSaTpFJ5lqy_1rw,Terrible bathroom. Neglected but beautifully d...,2012-03-18 06:16:49,0

In [19]:
# Charge df_user
df_user = load_json('data/yelp_academic_dataset_user.json')
df_user

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,...,65,55,56,18,232,844,467,467,239,180
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,2009-01-25 04:35:42,43091,13066,27281,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",3138,...,264,184,157,251,1847,7054,3131,3131,1521,1946
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,665,2008-07-25 10:41:00,2086,1010,1003,"2009,2010,2011,2012,2013","LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...",52,...,13,10,17,3,66,96,119,119,35,18
3,SZDeASXq7o05mMNLshsdIA,Gwen,224,2005-11-29 04:38:33,512,330,299,"2009,2010,2011","enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...",28,...,4,1,6,2,12,16,26,26,10,9
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,79,2007-01-05 19:40:59,29,15,7,,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...",1,...,1,0,0,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,K_sPBSw9NXANtRDnzj3L3A,Melody,9,2015-08-04 18:57:30,25,6,19,,"7SqoEgw5E9VEG3S-ZqkFLw, ZqiYF-PJURHqMz-qacpbXg...",0,...,0,0,0,0,0,1,2,2,1,0
49996,a4m4ZwQu_0zsJhTrAHBsdA,Chris,428,2014-01-17 03:32:21,2609,758,1973,"2017,2018,2019,20,20,2021","xGkFsFetNPw1ttCLBu4OKA, NHbBrBtAjNe_iymNa7R0UA...",75,...,10,3,0,0,78,124,106,106,93,34
49997,vnJyZJ2GGZkGYtGABHqRVg,Alyssa,16,2014-07-18 20:51:17,3,3,1,,"KRcKfzPyUlP4NbkNf4vgXg, MJxnyvRq4kpe96j_QZIHmQ...",1,...,0,0,0,0,0,0,0,0,0,2
49998,zhx48x_XOjJQBA0DMnPG2Q,Rasheen,91,2014-07-07 15:08:13,41,29,19,,"dGenjnbtpR0EaTWYmGJ5gw, WBAz3tyA7lXSppC8ctHO2Q...",2,...,0,0,0,0,0,2,0,0,1,0
49999,btSaJqMiUwMemMZ1AhCe3Q,Cameron,333,2012-08-02 01:10:16,491,158,231,"2013,2014,2015,2016","wM5xJ61cPe9R-b73tYW6lw, ZRi5iXZW5qfKNem-Gk7coA...",14,...,3,2,1,0,17,15,12,12,12,2

In [20]:
# Columnas de cada DF
print("Business:", df_business.columns.tolist())
print("----------------------------------------")
print("Checkin:", df_checkin.columns.tolist())
print("----------------------------------------")
print("Review:", df_review.columns.tolist())
print("----------------------------------------")
print("Tip:", df_tip.columns.tolist())
print("----------------------------------------")
print("User:", df_user.columns.tolist())

Business: ['business_id', 'name', 'address', 'city', 'state', 'postal_code', 'latitude', 'longitude', 'stars', 'review_count', 'is_open', 'attributes', 'categories', 'hours']
----------------------------------------
Checkin: ['business_id', 'date']
----------------------------------------
Review: ['review_id', 'user_id', 'business_id', 'stars', 'useful', 'funny', 'cool', 'text', 'date']
----------------------------------------
Tip: ['user_id', 'business_id', 'text', 'date', 'compliment_count']
----------------------------------------
User: ['user_id', 'name', 'review_count', 'yelping_since', 'useful', 'funny', 'cool', 'elite', 'friends', 'fans', 'average_stars', 'compliment_hot', 'compliment_more', 'compliment_profile', 'compliment_cute', 'compliment_list', 'compliment_note', 'compliment_plain', 'compliment_cool', 'compliment_funny', 'compliment_writer', 'compliment_photos']

# **Perfilamiento y entendimiento de los datos**
Obtendremos estadísticas descriptivas pertinentes y posteriormente ingresaremos el conjunto de datos a Pandas Profiling para obtener un reporte adecuado de correlación e interacción entre variables.

In [ ]:
# Obtención de estadísticas descriptivas.
df_data.describe()

,userid,timestamp,musicbrainz-artist-id,artist-name,musicbrainz-track-id,track-name
count,19098853,19098853,18498005,19098853,16936134,19098841
unique,992,17454730,107295,173921,960402,1083471
top,user_000949,2009-02-26T21:29:15Z,a74b1b7f-71a5-4011-9441-d0b5e4122711,Radiohead,db16d0b3-b8ce-4aa8-a11a-e4d53cc7f8a6,Intro
freq,183103,248,115099,115099,3991,17561

In [ ]:
# Obtención de estadísticas descriptivas.
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19098853 entries, 0 to 19098852
Data columns (total 6 columns):
 #   Column                 Dtype
---  ------                 -----
 0   userid                 object
 1   timestamp              object
 2   musicbrainz-artist-id  object
 3   artist-name            object
 4   musicbrainz-track-id   object
 5   track-name             object
dtypes: object(6)
memory usage: 874.3+ MB

In [11]:
# Contamos el número de veces que una persona escuchó una canción. Y tomamos esto como matriz de utilidad.
# La segunda línea quita el multi-index.
#df_user_track = df_data.groupby(['userid', 'track-name']).count().sort_values('timestamp', ascending=False)['timestamp'].to_frame()
#df_user_track = df_user_track.reset_index(level=[0,1])

df_user_track = df_data.groupby(['userid', 'track-name', 'artist-name']).count().sort_values('timestamp', ascending=False)['timestamp'].to_frame()
df_user_track = df_user_track.reset_index(level=[0,1,2])


# Optimizamos la memoria.
# Link: https://towardsdatascience.com/memory-efficient-data-science-types-53423d48ba1d
df_user_track['timestamp'] = df_user_track['timestamp'].astype(np.uint16)
df_user_track.rename(columns={"userid":"user_id","track-name":"track_name","artist-name":"artist_name" ,"timestamp": "reproductions"}, inplace=True)

# Agregamos la columna de track_artist
df_user_track['track_artist'] = df_user_track['track_name']+"-/-"+df_user_track['artist_name']
df_user_track = df_user_track[['user_id', 'track_name', 'artist_name', 'track_artist', 'reproductions']]
df_user_track

,user_id,track_name,artist_name,track_artist,reproductions
0,user_000008,See You In My Nightmares,Kanye West,See You In My Nightmares-/-Kanye West,2069
1,user_000008,Say You Will,Kanye West,Say You Will-/-Kanye West,2065
2,user_000008,Heartless,Kanye West,Heartless-/-Kanye West,2062
3,user_000008,Welcome To Heartbreak (Feat. Kid Cudi),Kanye West,Welcome To Heartbreak (Feat. Kid Cudi)-/-Kanye...,2059
4,user_000008,Love Lockdown,Kanye West,Love Lockdown-/-Kanye West,2059
...,...,...,...,...,...
4611757,user_000696,Benson & Hedges,Shitmat,Benson & Hedges-/-Shitmat,1
4611758,user_000696,Belle Demoiselle,Christophe Maé,Belle Demoiselle-/-Christophe Maé,1
4611759,user_000696,Belle,Notre-Dame De Paris,Belle-/-Notre-Dame De Paris,1
4611760,user_000696,Beethoven,Michel Sardou,Beethoven-/-Michel Sardou,1
4611761,user_000484,This Is Halloween,Marilyn Manson,This Is Halloween-/-Marilyn Manson,1

In [12]:
# from cuml.preprocessing import MinMaxScaler
from sklearn.preprocessing import MinMaxScaler

df_UT = df_user_track.copy()
usuarios = df_UT['user_id'].unique()
scaler = MinMaxScaler(feature_range=(1, 5))

for userId in usuarios:
    df_user = df_UT.loc[df_user_track['user_id'] == userId]
    if df_user[['reproductions']].max()[0] != df_user[['reproductions']].min()[0]:
        df_UT.loc[df_UT['user_id'] == userId, 'rating'] = scaler.fit_transform(df_user[['reproductions']])
    else:
        df_UT.loc[df_UT['user_id'] == userId, 'rating'] = 5.0
df_UT

,user_id,track_name,artist_name,track_artist,reproductions,rating
0,user_000008,See You In My Nightmares,Kanye West,See You In My Nightmares-/-Kanye West,2069,5.000000
1,user_000008,Say You Will,Kanye West,Say You Will-/-Kanye West,2065,4.992263
2,user_000008,Heartless,Kanye West,Heartless-/-Kanye West,2062,4.986460
3,user_000008,Welcome To Heartbreak (Feat. Kid Cudi),Kanye West,Welcome To Heartbreak (Feat. Kid Cudi)-/-Kanye...,2059,4.980658
4,user_000008,Love Lockdown,Kanye West,Love Lockdown-/-Kanye West,2059,4.980658
...,...,...,...,...,...,...
4611757,user_000696,Benson & Hedges,Shitmat,Benson & Hedges-/-Shitmat,1,1.000000
4611758,user_000696,Belle Demoiselle,Christophe Maé,Belle Demoiselle-/-Christophe Maé,1,1.000000
4611759,user_000696,Belle,Notre-Dame De Paris,Belle-/-Notre-Dame De Paris,1,1.000000
4611760,user_000696,Beethoven,Michel Sardou,Beethoven-/-Michel Sardou,1,1.000000
4611761,user_000484,This Is Halloween,Marilyn Manson,This Is Halloween-/-Marilyn Manson,1,1.000000

In [14]:
df_UT.describe()

       reproductions        rating
count   4.611762e+06  4.611762e+06
mean    4.141333e+00  1.153418e+00
std     1.023004e+01  3.200506e-01
min     1.000000e+00  1.000000e+00
25%     1.000000e+00  1.000000e+00
50%     2.000000e+00  1.020202e+00
75%     4.000000e+00  1.171429e+00
max     2.069000e+03  5.000000e+00

In [15]:
# Exportamos los DF's
df_user_track.index.name='id'
df_user_track.to_csv("../data/processed/user_track.csv")

df_UT.index.name='id'
df_UT.to_csv("../data/processed/user_track_rate.csv")

In [16]:
# Se cargan el conjunto total de los datos. 
# Leer TSV: https://stackoverflow.com/questions/9652832/how-to-load-a-tsv-file-into-a-pandas-dataframe
# Tokenizing data error: https://stackoverflow.com/questions/18039057/python-pandas-error-tokenizing-data

df_users=pd.read_csv('../data/userid-profile.tsv', sep='\t')
df_users['registered'] = pd.to_datetime(df_users['registered']).apply(str)
df_users.rename(columns={"#id":"user_id"}, inplace=True)
df_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 992 entries, 0 to 991
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_id     992 non-null    object
 1   gender      884 non-null    object
 2   age         286 non-null    float64
 3   country     907 non-null    object
 4   registered  992 non-null    object
dtypes: float64(1), object(4)
memory usage: 38.9+ KB

In [17]:
# Creamos la columna que tendrá el Password. Para facilitar nuestra simulación, esta columna será: hash256('user_id'+'123.')
def hash(x):
    h = hashlib.new('sha256')
    h.update(x.encode())
    return h.hexdigest()

df_users['password_hash'] = df_users['user_id'].apply(lambda x: hash(str(x)+'123.'))
df_users

,user_id,gender,age,country,registered,password_hash
0,user_000001,m,NaN,Japan,2006-08-13 00:00:00,51e94ea69d81c394617371560c1aa022f5ecec92fbec6f...
1,user_000002,f,NaN,Peru,2006-02-24 00:00:00,ba40ebe35b562b6687252e5d1ab46f0501d32ee3ac2dd0...
2,user_000003,m,22.0,United States,2005-10-30 00:00:00,05f4cdc5ac31f4b948045012dce4991d13790bb6087d40...
3,user_000004,f,NaN,NaN,2006-04-26 00:00:00,ff8cb1bbbd20a1c3cb1adce1d60dd64089ba963bc3e722...
4,user_000005,m,NaN,Bulgaria,2006-06-29 00:00:00,f252ade4b897736f03a935891bb7621c53985df5d3315f...
...,...,...,...,...,...,...
987,user_000996,f,NaN,United States,2006-07-17 00:00:00,948d27bea57b9c79890ae7ae5a2b59802f86a97199f909...
988,user_000997,m,NaN,United States,2007-01-05 00:00:00,69f789605cc44a3d37192449ed68b39187bc48c91c05db...
989,user_000998,m,NaN,United Kingdom,2005-09-28 00:00:00,721efa604cf85d874342335214bf2270b4c436b3be4793...
990,user_000999,f,NaN,Poland,2007-07-24 00:00:00,f2452fe018c883c56d8aace2939d30b5bdae3a6c0cdb1a...
991,user_001000,m,NaN,United States,2007-03-24 00:00:00,62138e9ffb09d260723608b7817543e7583602a1bbcdc4...

In [18]:
df_users.to_csv("../data/processed/users.csv")

# **Creación de la base de datos SQLite3**
Creamos una base de datos SQLite3, con base en los DF's generados.

In [ ]:
# # Connect to the SQLite3 database
# conn = sqlite3.connect('../backend/data/data.db')

# # Create a cursor object
# cur = conn.cursor()

# # Create a new table in the database
# cur.execute('CREATE TABLE IF NOT EXISTS user (user_id PRIMARY KEY, gender TEXT, age INTEGER, country TEXT, registered TIMESTAMP, password_hash TEXT)')

# for index, row in df_users.iterrows():
#     cur.execute('INSERT INTO user (user_id, gender, age, country, registered, password_hash) VALUES (?, ?, ?, ?, ?, ?)', 
#                 (row['user_id'] , row['gender'], row['age'], row['country'], row['registered'], row['password_hash']))

# # Commit the changes and close the database connection
# conn.commit()
# cur.close()
# conn.close()

In [20]:
# # Connect to the SQLite3 database
# conn = sqlite3.connect('../backend/data/data.db')

# # Create a cursor object
# cur = conn.cursor()

# # Create a new table in the database
# cur.execute('CREATE TABLE IF NOT EXISTS user_track_artist (id INTEGER PRIMARY KEY, user_id TEXT, track_name TEXT, artist_name TEXT, track_artist TEXT, reproductions INTEGER, rating INTEGER)')

# for index, row in df_UT.iterrows():
#     cur.execute('INSERT INTO user_track_artist (id, user_id, track_name, artist_name, track_artist, reproductions, rating) VALUES (?, ?, ?, ?, ?, ?, ?)', 
#                 (index, row['user_id'], row['track_name'], row['artist_name'], row['track_artist'], row['reproductions'], row['rating']))

# # Commit the changes and close the database connection
# conn.commit()
# cur.close()
# conn.close()

# **Creación de modelo de filtrado colaborativo basado en similitud con usuarios o items cercanos**

Surprise cuenta con la implementación de los modelos colaborativos dentro de la clase [KNNBasic] (https://surprise.readthedocs.io/en/stable/knn_inspired.html)  

El modelo recibe los siguientes parámetros: 


*   k: El máximo número de vecinos con el que se hará la extrapolación
*   min_k : El mínimo número de vecinos con el que se extrapolará un rating
*   sim_options : Opciones de similitud pasadas como un diccionario de python, aqui se le configura al modelo el tipo de similitud a usar para encontrar los vecinos y si la extrapolación debe hacerse usando usuarios o items similares. Revise el formato y similitudes disponibles en surprise en [este link](https://surprise.readthedocs.io/en/stable/prediction_algorithms.html#similarity-measure-configuration)

In [6]:
# Leer los CSV para no tener que generarlos de nuevo del DataSet original
df_UT = pd.read_csv('../data/processed/user_track_rate.csv', sep=',', index_col='id')
df_UT

,user_id,track_name,artist_name,track_artist,reproductions,rating
id,,,,,,
0,user_000008,See You In My Nightmares,Kanye West,See You In My Nightmares-/-Kanye West,2069,5.000000
1,user_000008,Say You Will,Kanye West,Say You Will-/-Kanye West,2065,4.992263
2,user_000008,Heartless,Kanye West,Heartless-/-Kanye West,2062,4.986460
3,user_000008,Welcome To Heartbreak (Feat. Kid Cudi),Kanye West,Welcome To Heartbreak (Feat. Kid Cudi)-/-Kanye...,2059,4.980658
4,user_000008,Love Lockdown,Kanye West,Love Lockdown-/-Kanye West,2059,4.980658
...,...,...,...,...,...,...
4611757,user_000696,Benson & Hedges,Shitmat,Benson & Hedges-/-Shitmat,1,1.000000
4611758,user_000696,Belle Demoiselle,Christophe Maé,Belle Demoiselle-/-Christophe Maé,1,1.000000
4611759,user_000696,Belle,Notre-Dame De Paris,Belle-/-Notre-Dame De Paris,1,1.000000
4611760,user_000696,Beethoven,Michel Sardou,Beethoven-/-Michel Sardou,1,1.000000
4611761,user_000484,This Is Halloween,Marilyn Manson,This Is Halloween-/-Marilyn Manson,1,1.000000

In [23]:
# Método para obtener N registros de cada usuario de un Dataframe
def obtener_N_elementos(df, N):
    df_data = pd.DataFrame()
    usuarios = df['user_id'].unique()
    
    for userId in usuarios:
        df_user = df.loc[df['user_id'] == userId][:N]
        df_data = pd.concat([df_data, df_user])
    
    return df_data

In [24]:
df_ut_sample = obtener_N_elementos(df_UT, 20)
df_ut_sample.index.name='id'
df_ut_sample.to_csv("../data/processed/df_ut_sample.csv")

In [7]:
df_ut_sample = pd.read_csv('../data/processed/df_ut_sample.csv', sep=',', index_col='id')
df_ut_sample

,user_id,track_name,artist_name,track_artist,reproductions,rating
id,,,,,,
0,user_000008,See You In My Nightmares,Kanye West,See You In My Nightmares-/-Kanye West,2069,5.000000
1,user_000008,Say You Will,Kanye West,Say You Will-/-Kanye West,2065,4.992263
2,user_000008,Heartless,Kanye West,Heartless-/-Kanye West,2062,4.986460
3,user_000008,Welcome To Heartbreak (Feat. Kid Cudi),Kanye West,Welcome To Heartbreak (Feat. Kid Cudi)-/-Kanye...,2059,4.980658
4,user_000008,Love Lockdown,Kanye West,Love Lockdown-/-Kanye West,2059,4.980658
...,...,...,...,...,...,...
4445629,user_000686,Weight Of Time,Rise Against,Weight Of Time-/-Rise Against,1,5.000000
4445630,user_000686,Sugar,System Of A Down,Sugar-/-System Of A Down,1,5.000000
4445631,user_000686,Stronger,Trustcompany,Stronger-/-Trustcompany,1,5.000000
4445632,user_000686,Pi Is Exactly Three,Coltrane Motion,Pi Is Exactly Three-/-Coltrane Motion,1,5.000000
4445633,user_000686,Gay Unicorn,Gay Against You,Gay Unicorn-/-Gay Against You,1,5.000000

# 1. user-user usando Tracks y Cosine

In [26]:
# Primera predicción, usando df_UT. User-User y Cosine
reader = Reader( rating_scale = ( 1, 5 ) )
#Se crea el dataset a partir del dataframe
surprise_dataset = Dataset.load_from_df( df_UT[['user_id', 'track_artist', 'rating']], reader )

train_set, test_set=  train_test_split(surprise_dataset, test_size=.2)

In [27]:
sim_options = {'name': 'cosine',
               'user_based': True # calcule similitud user-user
               }

algo = KNNWithZScore(k=10, min_k=2, sim_options=sim_options)

In [28]:
df_UT.loc[df_UT['user_id'] == 'user_000084']

,user_id,track_name,artist_name,track_artist,reproductions,rating
id,,,,,,
23,user_000084,Gimme More,Britney Spears,Gimme More-/-Britney Spears,1004,5.000000
39,user_000084,Piece Of Me,Britney Spears,Piece Of Me-/-Britney Spears,786,4.130608
50,user_000084,Womanizer,Britney Spears,Womanizer-/-Britney Spears,739,3.943170
93,user_000084,Radar,Britney Spears,Radar-/-Britney Spears,534,3.125623
130,user_000084,Circus,Britney Spears,Circus-/-Britney Spears,453,2.802592
...,...,...,...,...,...,...
4330248,user_000084,Trial Of Tears,Dream Theater,Trial Of Tears-/-Dream Theater,1,1.000000
4330257,user_000084,Tu Recuerdo (Feat. La Mari & Tommy Torres),Ricky Martin,Tu Recuerdo (Feat. La Mari & Tommy Torres)-/-R...,1,1.000000
4330259,user_000084,Tu Tienes Lo Que Quiero,Maná,Tu Tienes Lo Que Quiero-/-Maná,1,1.000000
4330261,user_000084,Tunayt,The Caracas Sound Machine,Tunayt-/-The Caracas Sound Machine,1,1.000000
4330262,user_000084,Turn It Again,Red Hot Chili Peppers,Turn It Again-/-Red Hot Chili Peppers,1,1.000000

In [29]:
algo.fit(train_set)

Computing the cosine similarity matrix...
Done computing similarity matrix.

In [30]:
# Save the model
from surprise import dump
dump.dump('../backend/data/models/uu_cosine.pkl', algo=algo)

In [31]:
algo.predict('user_000084', 'Gimme More-/-Britney Spears')

Prediction(uid='user_000084', iid='Gimme More-/-Britney Spears', r_ui=None, est=2.1906587819600043, details={'actual_k': 10, 'was_impossible': False})

In [32]:
algo.predict('user_000084', 'Heaven On Earth-/-Britney Spears')

Prediction(uid='user_000084', iid='Heaven On Earth-/-Britney Spears', r_ui=None, est=1.2540829068682953, details={'actual_k': 10, 'was_impossible': False})

In [33]:
test_predictions = algo.test(test_set)

In [34]:
accuracy.rmse( test_predictions, verbose = True )

RMSE: 0.3132

0.3132348548086579

In [35]:
accuracy.mae( test_predictions, verbose = True )

MAE:  0.1793

0.17931618894336512

Modelo over fitting

# 2. user-user usando Tracks y Pearson

In [5]:
# Segunda predicción, usando df_UT, User-User y Pearson
reader = Reader( rating_scale = ( 1, 5 ) )
#Se crea el dataset a partir del dataframe
surprise_dataset = Dataset.load_from_df( df_UT[['user_id', 'track_artist', 'rating']], reader )

train_set, test_set=  train_test_split(surprise_dataset, test_size=.2)

In [6]:
sim_options = {'name': 'pearson_baseline',
               'user_based': True # calcule similitud user-user
               }

algo = KNNWithZScore(k=10, min_k=2, sim_options=sim_options)

In [7]:
df_UT.loc[df_UT['user_id'] == 'user_000084']

,user_id,track_name,artist_name,track_artist,reproductions,rating
id,,,,,,
23,user_000084,Gimme More,Britney Spears,Gimme More-/-Britney Spears,1004,5.000000
39,user_000084,Piece Of Me,Britney Spears,Piece Of Me-/-Britney Spears,786,4.130608
50,user_000084,Womanizer,Britney Spears,Womanizer-/-Britney Spears,739,3.943170
93,user_000084,Radar,Britney Spears,Radar-/-Britney Spears,534,3.125623
130,user_000084,Circus,Britney Spears,Circus-/-Britney Spears,453,2.802592
...,...,...,...,...,...,...
4330248,user_000084,Trial Of Tears,Dream Theater,Trial Of Tears-/-Dream Theater,1,1.000000
4330257,user_000084,Tu Recuerdo (Feat. La Mari & Tommy Torres),Ricky Martin,Tu Recuerdo (Feat. La Mari & Tommy Torres)-/-R...,1,1.000000
4330259,user_000084,Tu Tienes Lo Que Quiero,Maná,Tu Tienes Lo Que Quiero-/-Maná,1,1.000000
4330261,user_000084,Tunayt,The Caracas Sound Machine,Tunayt-/-The Caracas Sound Machine,1,1.000000
4330262,user_000084,Turn It Again,Red Hot Chili Peppers,Turn It Again-/-Red Hot Chili Peppers,1,1.000000

In [8]:
algo.fit(train_set)

Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.

In [9]:
# Save the model
from surprise import dump
dump.dump('../backend/data/models/uu_pearson.pkl', algo=algo)

In [10]:
algo.predict('user_000084', 'Gimme More-/-Britney Spears')

Prediction(uid='user_000084', iid='Gimme More-/-Britney Spears', r_ui=None, est=3.6099519672115106, details={'actual_k': 10, 'was_impossible': False})

In [11]:
algo.predict('user_000084', 'Heaven On Earth-/-Britney Spears')

Prediction(uid='user_000084', iid='Heaven On Earth-/-Britney Spears', r_ui=None, est=1.6939704225187753, details={'actual_k': 10, 'was_impossible': False})

In [12]:
test_predictions = algo.test(test_set)

In [13]:
accuracy.rmse( test_predictions, verbose = True )

RMSE: 0.3063

0.30632432193390574

In [14]:
accuracy.mae( test_predictions, verbose = True )

MAE:  0.1781

0.17813887688042232

# 3. item-item usando Tracks y cosine

In [15]:
# Tercera predicción, usando df_UT, Item-Item y cosine
reader = Reader( rating_scale = ( 1, 5 ) )
#Se crea el dataset a partir del dataframe
surprise_dataset = Dataset.load_from_df( df_ut_sample[['user_id', 'track_artist', 'rating']], reader )

train_set, test_set=  train_test_split(surprise_dataset, test_size=.2)

In [16]:
sim_options = {'name': 'cosine',
               'user_based': False # calcule similitud item-item
               }

algo = KNNWithZScore(k=50, min_k=2, sim_options=sim_options)

In [17]:
df_ut_sample.loc[df_ut_sample['user_id'] == 'user_000084']

,user_id,track_name,artist_name,track_artist,reproductions,rating
id,,,,,,
23,user_000084,Gimme More,Britney Spears,Gimme More-/-Britney Spears,1004,5.000000
39,user_000084,Piece Of Me,Britney Spears,Piece Of Me-/-Britney Spears,786,4.130608
50,user_000084,Womanizer,Britney Spears,Womanizer-/-Britney Spears,739,3.943170
93,user_000084,Radar,Britney Spears,Radar-/-Britney Spears,534,3.125623
130,user_000084,Circus,Britney Spears,Circus-/-Britney Spears,453,2.802592
142,user_000084,Break The Ice,Britney Spears,Break The Ice-/-Britney Spears,434,2.726820
243,user_000084,If U Seek Amy,Britney Spears,If U Seek Amy-/-Britney Spears,361,2.435693
557,user_000084,They Talk Shit About Me (Feat. Verse),M. Pokora,They Talk Shit About Me (Feat. Verse)-/-M. Pokora,252,2.000997
607,user_000084,Hot As Ice,Britney Spears,Hot As Ice-/-Britney Spears,242,1.961117
705,user_000084,Kill The Lights,Britney Spears,Kill The Lights-/-Britney Spears,229,1.909272
769,user_000084,Toy Soldier,Britney Spears,Toy Soldier-/-Britney Spears,220,1.873380
914,user_000084,I'M A Slave 4 U,Britney Spears,I'M A Slave 4 U-/-Britney Spears,205,1.813559
991,user_000084,Me Against The Music,Britney Spears,Me Against The Music-/-Britney Spears,198,1.785643
1196,user_000084,Shattered Glass,Britney Spears,Shattered Glass-/-Britney Spears,183,1.725823
1440,user_000084,Ooh Ooh Baby,Britney Spears,Ooh Ooh Baby-/-Britney Spears,172,1.681954
1501,user_000084,4 Minutes (Feat. Justin Timberlake),Madonna,4 Minutes (Feat. Justin Timberlake)-/-Madonna,169,1.669990
1548,user_000084,The Kill,30 Seconds To Mars,The Kill-/-30 Seconds To Mars,167,1.662014
1610,user_000084,Everybody,Britney Spears,Everybody-/-Britney Spears,165,1.654038
1775,user_000084,Freakshow,Britney Spears,Freakshow-/-Britney Spears,159,1.630110
1827,user_000084,Heaven On Earth,Britney Spears,Heaven On Earth-/-Britney Spears,157,1.622134

In [18]:
algo.fit(train_set)

Computing the cosine similarity matrix...
Done computing similarity matrix.

In [19]:
# Save the model
from surprise import dump
dump.dump('../backend/data/models/ii_cosine.pkl', algo=algo)

In [20]:
algo.predict('user_000084', 'Gimme More-/-Britney Spears')

Prediction(uid='user_000084', iid='Gimme More-/-Britney Spears', r_ui=None, est=3.3558410727613355, details={'actual_k': 18, 'was_impossible': False})

In [21]:
algo.predict('user_000084', 'Heaven On Earth-/-Britney Spears')

Prediction(uid='user_000084', iid='Heaven On Earth-/-Britney Spears', r_ui=None, est=1.9811948744665275, details={'actual_k': 18, 'was_impossible': False})

In [22]:
test_predictions = algo.test(test_set)

In [23]:
accuracy.rmse( test_predictions, verbose = True )

RMSE: 1.0098

1.0097780085578663

In [24]:
accuracy.mae( test_predictions, verbose = True )

MAE:  0.8043

0.8042592664756583

# 4. item-item usando Tracks y pearson

In [4]:
# Cuarta predicción, usando df_UT, Item-Item y Pearson
reader = Reader( rating_scale = ( 1, 5 ) )
#Se crea el dataset a partir del dataframe
surprise_dataset = Dataset.load_from_df( df_ut_sample[['user_id', 'track_artist', 'rating']], reader )

train_set, test_set =  train_test_split(surprise_dataset, test_size=.2)

In [5]:
sim_options = {'name': 'pearson_baseline',
               'user_based': False # calcule similitud item-item
               }

algo = KNNWithZScore(k=50, min_k=2, sim_options=sim_options)

In [6]:
algo.fit(train_set)

Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.

In [7]:
# Save the model
from surprise import dump
dump.dump('../backend/data/models/ii_pearson.pkl', algo=algo)

In [8]:
algo.predict('user_000084', 'Gimme More-/-Britney Spears')

Prediction(uid='user_000084', iid='Gimme More-/-Britney Spears', r_ui=None, est=4.999008771546528, details={'actual_k': 4, 'was_impossible': False})

In [9]:
algo.predict('user_000084', 'Heaven On Earth-/-Britney Spears')

Prediction(uid='user_000084', iid='Heaven On Earth-/-Britney Spears', r_ui=None, est=2.3986754966887416, details={'actual_k': 0, 'was_impossible': False})

In [12]:
test_predictions = algo.test(test_set)

In [13]:
accuracy.rmse( test_predictions, verbose = True )

RMSE: 1.0215

1.021537111660306

In [14]:
accuracy.mae( test_predictions, verbose = True )

MAE:  0.8181

0.818117191882479

# Realizando predicciones con los modelos

In [19]:
def model_prediction(table, id, model):
    songs = table['track_artist'].unique()
    predictions = []
    escuchadas = table.loc[table['user_id'] == id]['track_artist'].to_list()
    for i in songs:
        if i not in escuchadas:
            predictions.append(model.predict(id, i))
    predictions.sort(key=lambda x : x.est, reverse=True)
    #Se convierte a dataframe
    labels = ['track_artist', 'estimation']
    df_predictions = pd.DataFrame.from_records(list(map(lambda x: (x.iid, x.est) , predictions)), columns=labels)
 
    # Lo unimos con el dataframe de películas PENDIENTE
    df_predictions[['track_name', 'artist_name']] = df_predictions['track_artist'].str.split('-/-', n=1, expand=True)
    
    df_predictions.index.name='id'

    # Drop the original column
    df_predictions.drop('track_artist', axis=1, inplace=True)

    return df_predictions

In [4]:
# Cargamos los modelos
from surprise import dump
uu_cosine = dump.load('../backend/data/models/uu_cosine.pkl')[1]
uu_pearson = dump.load('../backend/data/models/uu_pearson.pkl')[1]

ii_cosine = dump.load('../backend/data/models/ii_cosine.pkl')[1]
ii_pearson = dump.load('../backend/data/models/ii_pearson.pkl')[1]

In [8]:
# Se ingresa un usuario y un algoritmo por parámetro, y retorna todas las canciones que NO ha escuchado el usuario, y la predicción.
uu_cosine_pred = model_prediction(df_UT, 'user_000084', uu_cosine)

In [9]:
uu_cosine_pred

         estimation                            track_name        artist_name
0          5.000000                           Why So Blue     Paul Mccartney
1          4.526800                       Happy Death-Day               Gwar
2          4.436559                           Wreck It Up     The Ethiopians
3          4.214079                   Suru (Original Mix)       Super8 & Tab
4          4.102660                           The Sleeper  Fountain Of Tears
...             ...                                   ...                ...
1496599    1.000000                            Downfallen     Scream Silence
1496600    1.000000                                 Diary     Scream Silence
1496601    1.000000  Mutant Message (Full Length Version)       Juno Reactor
1496602    1.000000                  Source Of Suspicions           Cenotaph
1496603    1.000000                                O Lisa             Weezer

[1496604 rows x 3 columns]

In [10]:
# Se ingresa un usuario y un algoritmo por parámetro, y retorna todas las canciones que NO ha escuchado el usuario, y la predicción.
uu_pearson_pred = model_prediction(df_UT, 'user_000084', uu_pearson)

In [11]:
uu_pearson_pred

,estimation,track_name,artist_name
0,5.000000,Survive,Fountain Of Tears
1,5.000000,Real,Fountain Of Tears
2,5.000000,She Wants To Be,Fountain Of Tears
3,4.987925,Survive (Instrumental Mix),Fountain Of Tears
4,4.925866,Over The Pavements,"Ensemble Modern, Ingo Metzmacher, Cond.; H. He..."
...,...,...,...
1496599,1.000000,Song To The Siren,Charlotte Martin
1496600,1.000000,We Believe In Karma,Piebald
1496601,1.000000,All Of The Words,Kutless
1496602,1.000000,Source Of Suspicions,Cenotaph
1496603,1.000000,O Lisa,Weezer

In [20]:
# Se ingresa un usuario y un algoritmo por parámetro, y retorna todas las canciones que NO ha escuchado el usuario, y la predicción.
ii_cosine_pred = model_prediction(df_ut_sample, 'user_000084', ii_cosine)

In [21]:
ii_cosine_pred

,estimation,track_name,artist_name
id,,,
0,5.0,See You In My Nightmares,Kanye West
1,5.0,Jolene,Cake
2,5.0,Wings Of Words,Chemistry
3,5.0,"If I Don'T Live Today, Then I Might Be Here To...",Mando Diao
4,5.0,Rock On,Jackson And His Computer Band
...,...,...,...
16271,1.0,"One Advice, Space",Deus
16272,1.0,Open Your Arms,Editors
16273,1.0,Seven Forty Seven,The Juliana Theory
16274,1.0,Little Fury Bugs,Death Cab For Cutie
16275,1.0,Long-Forgotten Fairytale,The Magnetic Fields

In [14]:
# Se ingresa un usuario y un algoritmo por parámetro, y retorna todas las canciones que NO ha escuchado el usuario, y la predicción.
ii_pearson_pred = model_prediction(df_ut_sample, 'user_000084', ii_pearson)

In [15]:
ii_pearson_pred

,estimation,track_name,artist_name
0,5.0,See You In My Nightmares,Kanye West
1,5.0,Jolene,Cake
2,5.0,Wings Of Words,Chemistry
3,5.0,Je T'Aime...Moi Non Plus,Serge Gainsbourg
4,5.0,"If I Don'T Live Today, Then I Might Be Here To...",Mando Diao
...,...,...,...
16271,1.0,Seven Forty Seven,The Juliana Theory
16272,1.0,Little Fury Bugs,Death Cab For Cutie
16273,1.0,Ladies Night,Atomic Kitten
16274,1.0,Little Room,The White Stripes
16275,1.0,Long-Forgotten Fairytale,The Magnetic Fields