# **Taller 2**
### **Integrantes:**
* Diego Felipe Carvajal Lombo (201911910)
* Brenda Catalina Barahona Pinilla (201812721)
* Sergio Julian Zona Moreno (201914936)

# **Carga y muestreo de los datos**

In [1]:
# Libraries
seed = 2023
import pandas as pd
import numpy as np

# **Carga de datos**

In [3]:
# Read a portion of the JSON file into a pandas DataFrame
def load_json(path):    
    chunk_size = 50000
    df = pd.read_json(path, lines=True, nrows=chunk_size, encoding='utf-8')
    return df

In [3]:
# Charge df_business
df_business = load_json('data/json/yelp_academic_dataset_business.json')
df_business

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,GAgosZDSlzC5WpGrb0ic4g,Perry Anthony Salon & Spa,5331 Limestone Rd,Wilmington,DE,19808,39.746909,-75.698912,4.0,17,1,"{'BusinessParking': '{'garage': False, 'street...","Beauty & Spas, Hair Salons, Fitness & Instruct...","{'Monday': '9:30-20:0', 'Tuesday': '9:30-20:0'..."
49996,EUvjJe90Hxh6wznY9qEbsQ,Fantastic Sams Cut & Color,3150 Tampa Rd,Oldsmar,FL,34677,28.049983,-82.698013,3.5,12,1,"{'GoodForKids': 'True', 'BikeParking': 'False'...","Hair Salons, Beauty & Spas, Hair Removal, Barbers","{'Monday': '9:0-19:0', 'Tuesday': '9:0-19:0', ..."
49997,Wig7D8bw0nvsZ9mM6EGpSA,Sun Valley Express,6903 W Targee St,Boise,ID,83709,43.582506,-116.267858,3.0,8,1,{'WiFi': 'u'free''},"Public Transportation, Limos, Airport Shuttles...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-15:30', ..."
49998,_Hxa4-Dj0C4NqcJZ-J1_PA,Public Storage,6117 Charlotte Pike,Nashville,TN,37209,36.147023,-86.868538,4.0,8,1,{'BusinessAcceptsCreditCards': 'True'},"Self Storage, Local Services","{'Monday': '9:30-18:0', 'Tuesday': '9:30-18:0'..."
49999,wKHS2tE5VMGiL6VWPAXESA,Goodland Jiu Jitsu,5140 Hollister Ave,Goleta,CA,93111,34.435834,-119.802921,4.5,8,1,"{'GoodForKids': 'True', 'BusinessParking': '{'...","Brazilian Jiu-jitsu, Martial Arts, Active Life...","{'Monday': '6:30-20:0', 'Tuesday': '6:30-20:0'..."

In [4]:
# Charge df_checkin
df_checkin = load_json('data/json/yelp_academic_dataset_checkin.json')
df_checkin

,business_id,date
0,---kPU91CF4Lq2-WlRu9Lw,"2020-03-13 21:10:56, 2020-06-02 22:18:06, 2020..."
1,--0iUa4sNDFiZFrAdIWhZQ,"2010-09-13 21:43:09, 2011-05-04 23:08:15, 2011..."
2,--30_8IhuyMHbSOcNWd6DQ,"2013-06-14 23:29:17, 2014-08-13 23:20:22"
3,--7PUidqRWpRSpXebiyxTg,"2011-02-15 17:12:00, 2011-07-28 02:46:10, 2012..."
4,--7jw19RH9JKXgFohspgQw,"2014-04-21 20:42:11, 2014-04-28 21:04:46, 2014..."
...,...,...
49995,NJaR_2hke7NNAC6l1Ohr8g,"2015-01-16 02:17:10, 2015-01-16 04:45:59, 2015..."
49996,NJcoVbVwnYigsQVDOgl29Q,"2013-07-27 23:05:38, 2013-08-10 22:42:26, 2013..."
49997,NJe5fkia_63rdKXRdJlmkA,"2018-12-08 02:43:45, 2018-12-09 23:34:42, 2018..."
49998,NJg2ookzRGD2Ej-VNpuY-w,"2010-11-02 23:09:05, 2010-11-05 14:10:24, 2011..."
49999,NJhWEmpgMTo_QtndFqu3Hg,"2018-04-03 01:12:08, 2018-04-11 00:48:20, 2018..."

In [5]:
# Charge df_review
df_review = load_json('data/json/yelp_academic_dataset_review.json')
df_review

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15
...,...,...,...,...,...,...,...,...,...
49995,V_bNx4GEH8ChNNA0GPMrOA,_-x9v81zddshIEwRirV7kQ,GBTPC53ZrG1ZBY3DT8Mbcw,4,0,0,0,Came here first for breakfast and had their yu...,2016-10-29 00:54:49
49996,5beIdB00qToFzllb4alZNQ,VEOTasfs8zYs7grZ4C5Xfw,EQ-TZ2eeD_E0BHuvoaeG5Q,2,0,0,0,Food was good. I had a decent breakfast but no...,2017-08-09 13:12:33
49997,rjFWnq1zQTRzCyqV0jzZHw,AT_p7NkLqd50ugp3wjFg2Q,_RFqyBgklIBqOAM-zzV_WQ,3,0,1,0,It's cool that Second Image is trying. They so...,2010-07-11 21:41:35
49998,8LRFPHiso_kuCseg5BJx8A,NSCNU_j0vSdeRMIme3H0rg,8agPzX-O-8LEDjDNloSdzQ,4,1,0,1,"Best shrimp on the beach! Steamed to order, d...",2017-04-09 23:23:56
49999,5C6u-caMG39RkvDuAYSVew,TnLZ2QkrO9WpzDLLORvJtQ,M0c99tzIJPIbrY_RAO7KSQ,4,0,0,0,"The hotel is very nice and clean, and looks fa...",2016-08-06 02:17:10

In [6]:
# Charge df_tip
df_tip = load_json('data/json/yelp_academic_dataset_tip.json')
df_tip

,user_id,business_id,text,date,compliment_count
0,AGNUgVwnZUey3gcPCJ76iw,3uLgwr0qeCNMjKenHJwPGQ,Avengers time with the ladies.,2012-05-18 02:17:21,0
1,NBN4MgHP9D3cw--SnauTkA,QoezRbYQncpRqyrLH6Iqjg,They have lots of good deserts and tasty cuban...,2013-02-05 18:35:10,0
2,-copOvldyKh1qr-vzkDEvw,MYoRNLb5chwjQe3c_k37Gg,It's open even when you think it isn't,2013-08-18 00:56:08,0
3,FjMQVZjSqY8syIO-53KFKw,hV-bABTK-glh5wj31ps_Jw,Very decent fried chicken,2017-06-27 23:05:38,0
4,ld0AperBXk1h6UbqmM80zw,_uN0OudeJ3Zl_tf6nxg5ww,Appetizers.. platter special for lunch,2012-10-06 19:43:09,0
...,...,...,...,...,...
49995,OUD1t1__WFnaodS4y6o28g,Kup9m2JnUJrnnULc9zjDQQ,Chai smoothie is really good. All foods are bl...,2015-04-24 15:20:21,0
49996,VJFpYkhQye1VTXsJND9HHw,WE3D52UfHvvVdTHgzJ_1vw,Worst bar in America lol this place is terrible!,2016-12-25 05:54:41,0
49997,R53y0qIWqJZxnbyWNDbrMg,X6_5_b4gVKo83VPn0FyONw,"Free ""upsize"" 8/14-8/16",2015-08-14 18:20:25,0
49998,7xQYlgl7YKX8RfbB5SdK_Q,Yb04s8ffQODSYWyNmrCjGw,Try the new organic pedicure for a treat!,2012-03-25 17:45:40,0
49999,JxA595MQSkNqzSfMXYWatw,z6qtUn2bSaTpFJ5lqy_1rw,Terrible bathroom. Neglected but beautifully d...,2012-03-18 06:16:49,0

In [7]:
# Charge df_user
df_user = load_json('data/json/yelp_academic_dataset_user.json')
df_user

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,...,65,55,56,18,232,844,467,467,239,180
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,2009-01-25 04:35:42,43091,13066,27281,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",3138,...,264,184,157,251,1847,7054,3131,3131,1521,1946
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,665,2008-07-25 10:41:00,2086,1010,1003,"2009,2010,2011,2012,2013","LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...",52,...,13,10,17,3,66,96,119,119,35,18
3,SZDeASXq7o05mMNLshsdIA,Gwen,224,2005-11-29 04:38:33,512,330,299,"2009,2010,2011","enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...",28,...,4,1,6,2,12,16,26,26,10,9
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,79,2007-01-05 19:40:59,29,15,7,,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...",1,...,1,0,0,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,K_sPBSw9NXANtRDnzj3L3A,Melody,9,2015-08-04 18:57:30,25,6,19,,"7SqoEgw5E9VEG3S-ZqkFLw, ZqiYF-PJURHqMz-qacpbXg...",0,...,0,0,0,0,0,1,2,2,1,0
49996,a4m4ZwQu_0zsJhTrAHBsdA,Chris,428,2014-01-17 03:32:21,2609,758,1973,"2017,2018,2019,20,20,2021","xGkFsFetNPw1ttCLBu4OKA, NHbBrBtAjNe_iymNa7R0UA...",75,...,10,3,0,0,78,124,106,106,93,34
49997,vnJyZJ2GGZkGYtGABHqRVg,Alyssa,16,2014-07-18 20:51:17,3,3,1,,"KRcKfzPyUlP4NbkNf4vgXg, MJxnyvRq4kpe96j_QZIHmQ...",1,...,0,0,0,0,0,0,0,0,0,2
49998,zhx48x_XOjJQBA0DMnPG2Q,Rasheen,91,2014-07-07 15:08:13,41,29,19,,"dGenjnbtpR0EaTWYmGJ5gw, WBAz3tyA7lXSppC8ctHO2Q...",2,...,0,0,0,0,0,2,0,0,1,0
49999,btSaJqMiUwMemMZ1AhCe3Q,Cameron,333,2012-08-02 01:10:16,491,158,231,"2013,2014,2015,2016","wM5xJ61cPe9R-b73tYW6lw, ZRi5iXZW5qfKNem-Gk7coA...",14,...,3,2,1,0,17,15,12,12,12,2

In [8]:
# Columnas de cada DF
print("Business:", df_business.columns.tolist())
print("----------------------------------------")
print("Checkin:", df_checkin.columns.tolist())
print("----------------------------------------")
print("Review:", df_review.columns.tolist())
print("----------------------------------------")
print("Tip:", df_tip.columns.tolist())
print("----------------------------------------")
print("User:", df_user.columns.tolist())

Business: ['business_id', 'name', 'address', 'city', 'state', 'postal_code', 'latitude', 'longitude', 'stars', 'review_count', 'is_open', 'attributes', 'categories', 'hours']
----------------------------------------
Checkin: ['business_id', 'date']
----------------------------------------
Review: ['review_id', 'user_id', 'business_id', 'stars', 'useful', 'funny', 'cool', 'text', 'date']
----------------------------------------
Tip: ['user_id', 'business_id', 'text', 'date', 'compliment_count']
----------------------------------------
User: ['user_id', 'name', 'review_count', 'yelping_since', 'useful', 'funny', 'cool', 'elite', 'friends', 'fans', 'average_stars', 'compliment_hot', 'compliment_more', 'compliment_profile', 'compliment_cute', 'compliment_list', 'compliment_note', 'compliment_plain', 'compliment_cool', 'compliment_funny', 'compliment_writer', 'compliment_photos']

# **Perfilamiento y entendimiento de los datos**
Obtendremos estadísticas descriptivas pertinentes y posteriormente ingresaremos el conjunto de datos a Pandas Profiling para obtener un reporte adecuado de correlación e interacción entre variables.

In [9]:
df_review_f = df_review[df_review['user_id'].isin(df_user['user_id']) & df_review['business_id'].isin(df_business['business_id'])]
df_review_f

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
6,6AxgBCNX_PNTOxmbRSwcKQ,r3zeYsv1XFBRA4dJpL78cw,gmjsEdUsKpj9Xxu6pdjH0g,5,0,2,0,Loved this tour! I grabbed a groupon and the p...,2015-01-03 23:21:18
10,rGQRf8UafX7OTlMNN19I8A,1WHRWwQmZOZDAhp2Qyny4g,uMvVYRgGNXf5boolA9HXTw,5,2,0,0,My experience with Shalimar was nothing but wo...,2015-06-21 14:48:06
13,8JFGBuHMoiNDyfcxuWNtrA,smOvOajNG0lS4Pq7d8g4JQ,RZtGWDLCAtuipwaZ-UfjmQ,4,0,0,0,Good food--loved the gnocchi with marinara\nth...,2009-10-14 19:57:14
14,UBp0zWyH60Hmw6Fsasei7w,4Uh27DgGzsp6PqrH913giQ,otQS34_MymijPTdNBoBdCw,4,0,2,0,The bun makes the Sonoran Dog. It's like a snu...,2011-10-27 17:12:05
17,LnGZB0fjfgeVDVz5IHuEVA,j2wlzrntrbKwyOcOiB3l3w,rBdG_23USc7DletfZ11xGA,4,1,0,0,The hubby and I have been here on multiple occ...,2014-08-10 19:41:43
...,...,...,...,...,...,...,...,...,...
49981,ILor-aKEGUyqN7BfEhS_yQ,nNVzXH7zcL80i-eB1yAxBg,mY02hIpeZSVCaWObvvyECA,3,3,0,0,Went to The Good Pie before catching a show at...,2010-01-15 14:38:01
49988,aD3HuxyhH-_RwnhYq04gCA,Oo-Sim3XTQXb0oVHJJem8w,DGvkU7CkdBs6lNbncQmF3A,3,0,0,1,Very cool bar not too far from the train. Goo...,2015-07-29 23:29:43
49992,E8tLAMXjqKTKjUm-0V8dFA,mNj4sfnrw4JWX3mWgjMx-A,8uF-bhJFgT4Tn6DTb27viA,5,1,0,1,Changed my conception of what a donut can be. ...,2016-06-02 01:27:42
49994,aTHV0rnfLWMVLLCzC1clyw,C8yFR7W6fcRT_FAyuItMJw,X5fWO9e82EICHXzzs6eQMg,2,15,0,0,I know I'm one of the few who seem to have had...,2012-01-07 04:01:18
49997,rjFWnq1zQTRzCyqV0jzZHw,AT_p7NkLqd50ugp3wjFg2Q,_RFqyBgklIBqOAM-zzV_WQ,3,0,1,0,It's cool that Second Image is trying. They so...,2010-07-11 21:41:35

In [10]:
df_review_f.describe()

              stars        useful         funny          cool
count  16537.000000  16537.000000  16537.000000  16537.000000
mean       3.890125      1.413376      0.468707      0.648606
std        1.174365      2.502347      1.401069      1.551858
min        1.000000      0.000000      0.000000      0.000000
25%        3.000000      0.000000      0.000000      0.000000
50%        4.000000      1.000000      0.000000      0.000000
75%        5.000000      2.000000      0.000000      1.000000
max        5.000000     91.000000     38.000000     49.000000

In [11]:
df_review_f[df_review_f["stars"] == 1]

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
64,qdzNocGBnh8U-cvE_N8qbA,Fq7d14GDAsGjDoojP_ygOQ,pAgtmlIGqFYaWdBoCUeitw,1,3,0,0,The TV shows are $4.99 and they have commercia...,2012-12-04 02:40:49
73,PDHRlnEdkEcwATry4w71PQ,UsBxLh14sUpO8SdeqIiGOA,Wy8Hswf2cLQGRZN6armkag,1,1,0,0,"If I could give it a zero, I would. I order a ...",2011-08-24 23:07:08
98,PPgbLBvi34A6m7bKJfTwhw,3TL6HZ1JrKcNTvGDWKlrow,GyC36Pn0Q1-qHnqXys6yFg,1,0,0,0,Service and management terrible... After messi...,2013-12-07 13:17:13
101,pl5AjpEcFxFTltkBvHjsRA,YjS6MDNwGbueb5WtALIJ2A,EBn3U4mpnIRLIy2lKuilRQ,1,0,0,0,Been to this location twice and will never go ...,2012-11-06 18:54:49
126,zM7u3iffMjniyvQAaN9Tnw,QacYrFyCrFLmC726YEEBsA,29YqJwOGEuAWqlHZxMc1OA,1,0,1,0,So disappointing on so many levels. Have been ...,2012-05-29 03:51:08
...,...,...,...,...,...,...,...,...,...
49624,hNRtTbs5HOdqJC-ZxXDXQg,3Zl3RokY8eyRJQbbQmuOuA,1UNorskttXSWuEcgzKzXcA,1,6,2,1,Offensive. Flavorless pre-made guacamole in a...,2012-03-03 06:10:39
49639,T41lEiGMuwuCCtbkZzS_Rg,4kah8HZAL-f4tYGcqTD5hA,RWOqFGfUrdL60jOrtxmcGw,1,0,0,0,Big portions... And that's all that is good. S...,2013-06-02 15:56:17
49807,OY7Ml-E55tXuvdziMhIZLg,d_lpeMZNVRU0d-t50BGQ6Q,uKEabBQrn0gLzvTppOrKIA,1,0,1,0,"Great space, great location, friendly service,...",2016-06-13 03:42:26
49885,t6RFbNJeHUNJBwOmh6z8Bg,oYn4yU4hI8w9vMQkR9bx1w,g_0U8kzf5iTMJ-I9E3MWlA,1,3,3,0,i'm done with this place. Every time I come he...,2013-12-31 08:42:45
49930,gewSI4YvSX1pQZK52XZB3g,oD44aMXxG6myHAROyILjgA,kgMEBZG6rjkGeFzPaIM4MQ,1,1,3,0,was in this location today at 4:40. I ordered ...,2013-03-01 15:46:03

In [96]:
df_review_f[df_review_f["user_id"] == "1WHRWwQmZOZDAhp2Qyny4g"]

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
10,rGQRf8UafX7OTlMNN19I8A,1WHRWwQmZOZDAhp2Qyny4g,uMvVYRgGNXf5boolA9HXTw,5,2,0,0,My experience with Shalimar was nothing but wo...,2015-06-21 14:48:06

In [97]:
df_business[df_business["business_id"] == "uMvVYRgGNXf5boolA9HXTw"]

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
3876,uMvVYRgGNXf5boolA9HXTw,Shalimar Fine Jewelers,250 Westshore Plz,Tampa,FL,33609,27.94752,-82.527879,2.5,8,1,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...","Shopping, Jewelry","{'Monday': '10:0-21:0', 'Tuesday': '10:0-21:0'..."

# **Creación de la base de datos SQLite3**
Creamos una base de datos SQLite3, con base en los DF's generados.

In [13]:
# # Connect to the SQLite3 database
# conn = sqlite3.connect('../backend/data/data.db')

# # Create a cursor object
# cur = conn.cursor()

# # Create a new table in the database
# cur.execute('CREATE TABLE IF NOT EXISTS user (user_id PRIMARY KEY, gender TEXT, age INTEGER, country TEXT, registered TIMESTAMP, password_hash TEXT)')

# for index, row in df_users.iterrows():
#     cur.execute('INSERT INTO user (user_id, gender, age, country, registered, password_hash) VALUES (?, ?, ?, ?, ?, ?)', 
#                 (row['user_id'] , row['gender'], row['age'], row['country'], row['registered'], row['password_hash']))

# # Commit the changes and close the database connection
# conn.commit()
# cur.close()
# conn.close()

In [14]:
# # Connect to the SQLite3 database
# conn = sqlite3.connect('../backend/data/data.db')

# # Create a cursor object
# cur = conn.cursor()

# # Create a new table in the database
# cur.execute('CREATE TABLE IF NOT EXISTS user_track_artist (id INTEGER PRIMARY KEY, user_id TEXT, track_name TEXT, artist_name TEXT, track_artist TEXT, reproductions INTEGER, rating INTEGER)')

# for index, row in df_UT.iterrows():
#     cur.execute('INSERT INTO user_track_artist (id, user_id, track_name, artist_name, track_artist, reproductions, rating) VALUES (?, ?, ?, ?, ?, ?, ?)', 
#                 (index, row['user_id'], row['track_name'], row['artist_name'], row['track_artist'], row['reproductions'], row['rating']))

# # Commit the changes and close the database connection
# conn.commit()
# cur.close()
# conn.close()

# **Creación de los modelos**

En esta sección se diseñarán los modelos que serán implementados en el front de la aplicación. Algunos de ellos son On-Premise, pero otros son entrenados previamente e importados.

# Modelos de filtrado colaborativo por factorización

Estos modelos son entrenados previamente, y deben ser re-entrenados de manera periódica. Recomendamos, diaria o semanalmente.

In [13]:
from surprise import Dataset, Reader, SVD, KNNWithZScore, accuracy
from surprise.model_selection import train_test_split

df = df_review_f[['user_id', 'business_id', 'stars']]

# Load data
reader = Reader(rating_scale=(1, 5))
data = Dataset.load_from_df(df, reader)

# Split data
trainset, testset = train_test_split(data, test_size=0.2, random_state=seed)

## SVD

In [16]:
from surprise import SVD
from surprise.model_selection import GridSearchCV, PredefinedKFold

# SVD
param_grid = {'n_factors': [50, 100, 200],
              'n_epochs': [10, 20, 50],
              'biased': [True, False],
              'lr_all': [0.002, 0.005, 0.01],
              'reg_all': [0.02, 0.04, 0.06],
             }

# Set up the grid search
gs = GridSearchCV(SVD, param_grid, measures=['rmse', 'mae'], cv=5, n_jobs=-1)

# Fit the grid search on the dataset
gs.fit(data)

# Print the best score and parameters
print('Best score:', gs.best_score['rmse'])
print('Best parameters:', gs.best_params['rmse'])

Best score: 1.133144251152205
Best parameters: {'n_factors': 50, 'n_epochs': 20, 'biased': True, 'lr_all': 0.01, 'reg_all': 0.06}

In [17]:
# Save the model
from surprise import dump

# Factorization model
#svd = SVD(n_factors = 50, n_epochs = 20, biased = True, lr_all = 0.01, reg_all = 0.06)
svd = SVD(n_factors = gs.best_params['rmse']['n_factors'], 
          n_epochs = gs.best_params['rmse']['n_epochs'],
          biased = gs.best_params['rmse']['biased'],
          lr_all = gs.best_params['rmse']['lr_all'],
          reg_all = gs.best_params['rmse']['reg_all'],
          random_state=seed
         )
svd.fit(trainset)

dump.dump('data/models/svd.pkl', algo=svd)

## NMF

In [18]:
from surprise import NMF
from surprise.model_selection import GridSearchCV

#NFM
param_grid = {'n_factors': [50, 100, 150, 200],
              'n_epochs': [10, 20, 30, 40, 50],
              'biased': [True, False],
              'random_state': [seed],
              'verbose': [False]
             }

# Set up the grid search
gs = GridSearchCV(NMF, param_grid, measures=['rmse', 'mae'], cv=5, n_jobs=-1)

# Fit the grid search on the dataset
gs.fit(data)

# Print the best score and parameters
print('Best score:', gs.best_score['rmse'])
print('Best parameters:', gs.best_params['rmse'])

Best score: 1.2315094705677452
Best parameters: {'n_factors': 50, 'n_epochs': 50, 'biased': False, 'random_state': 2023, 'verbose': False}

In [19]:
# Save the model
from surprise import dump

# Factorization model
#nmf = NMF(n_factors = 50, n_epochs = 20, biased = True, random_state = seed, verbose = False)
nmf = NMF(n_factors = gs.best_params['rmse']['n_factors'], 
          n_epochs = gs.best_params['rmse']['n_epochs'],
          biased = gs.best_params['rmse']['biased'],
          random_state = gs.best_params['rmse']['random_state'],
          verbose = gs.best_params['rmse']['verbose'],       
         )
nmf.fit(trainset)

dump.dump('data/models/nmf.pkl', algo=nmf)

## KNNWithZScore - No es por factorización

Agregamos KNN a esta sección aunque no es por factorización. Este modelo es una implementación adicional que se tendrá en cuenta en el modelo híbrido definitivo. Este modelo también debe entrenarse de manera periódica.

In [20]:
from surprise import KNNWithZScore
from surprise.model_selection import GridSearchCV

# Set up the hyperparameter grid
param_grid = {'k': [10, 20, 30, 40, 50],
              'sim_options': {'name': ['pearson','pearson_baseline'], # cosine, pearson, pearson_baseline
                              'user_based': [False],
                              'verbose': [False],  
                             },
              'verbose': [False]
             }
# Set up the grid search
gs = GridSearchCV(KNNWithZScore, param_grid, measures=['rmse', 'mae'], cv=5, n_jobs=-1)

# Fit the grid search on the dataset
gs.fit(data)

# Print the best score and parameters
print('Best score:', gs.best_score['rmse'])
print('Best parameters:', gs.best_params['rmse'])

Best score: 1.1888067649487464
Best parameters: {'k': 10, 'sim_options': {'name': 'pearson', 'user_based': False, 'verbose': False}, 'verbose': False}

In [21]:
# Save the model
from surprise import dump

# Factorization model
#knn = KNNWithZScore(k = 10, sim_options = {'name': 'pearson', 'user_based': False, 'verbose': False}, 'verbose': False})
knn = KNNWithZScore(k = gs.best_params['rmse']['k'], sim_options=gs.best_params['rmse']['sim_options'], random_state=seed, verbose=False)
knn.fit(trainset)

dump.dump('data/models/knn.pkl', algo=knn)

# Modelos sensibles al contexto (Context-Aware)

Implementamos dos modelos sensibles al contexto. El primero relacionado con la ciudad donde se encuentra el restaurante, y el segundo tiene en cuenta las reseñas de sus amigos.

## KNNWithZScore - Basado en las ciudades del negocio

In [38]:
def get_business_city(business_id, should_print = False):
    try:
        city = df_business[df_business["business_id"] == business_id]["city"].tolist()[0]
        business_in_city = df_business[df_business["city"] == city]["business_id"].tolist()
        df_city = df_review_f[df_review_f['business_id'].isin(business_in_city)]
        df_city = df_city[["user_id","business_id", "stars"]]
        
        if should_print:
            print(city)
            print("Num. reviews", df_city.shape[0])
            print("-------------------")
        return df_city
    except:
        return pd.DataFrame()

In [39]:
from surprise import KNNWithZScore, Dataset, Reader
from surprise.model_selection import GridSearchCV

def get_knn_city(user_id, business_id, should_print = False):
    df_city = get_business_city(business_id, should_print)
    
    try:
        # Load data 
        if df_city.shape[0] >= 5:
            reader = Reader(rating_scale=(1, 5))
            data = Dataset.load_from_df(df_city, reader)

            # Split data
            trainset, testset = train_test_split(data, test_size=0.2, random_state=seed)

            knn = KNNWithZScore(k = 2, sim_options={'name': 'pearson', 'user_based':True}, random_state=seed, verbose=False)
            knn.fit(trainset)
            
            return knn
        else: 
            return None
    except:
        return None

## KNNWithZScore - Basado en los amigos del usuario

In [40]:
# Friends DataFrame
df_user_friends = df_user.copy()
df_user_friends['friends'] = df_user_friends['friends'].str.split(', ')

def get_user_friends(user_id, should_print = False):
    friends_set = df_user_friends[df_user_friends['user_id'] == user_id]
    if friends_set.shape[0] == 0:
        return pd.DataFrame()
    else:
        friends_set = friends_set["friends"].tolist()[0]
        friends_set = set(friends_set)

        df_friends = df.copy()
        df_friends = df_friends[df_friends['user_id'].isin(friends_set)]
        
        if should_print:
            print("Friends information")
            print(df_friends.describe())
            print("-------------------")
        return df_friends

In [41]:
from surprise import KNNWithZScore, Dataset, Reader
from surprise.model_selection import GridSearchCV

def get_knn_friends(user_id, business_id, should_print = False):
    df_friends = get_user_friends(user_id, should_print)  
    
    try:
        # Load data 
        if df_friends.shape[0] >= 5:
            reader = Reader(rating_scale=(1, 5))
            data = Dataset.load_from_df(df_friends, reader)

            # Split data
            trainset, testset = train_test_split(data, test_size=0.2, random_state=seed)

            knn = KNNWithZScore(k = 2, sim_options={'name': 'pearson', 'user_based':True}, random_state=seed, verbose=False)
            knn.fit(trainset)
            
            return knn
        else: 
            return None
    except:
        return None

# Creación del modelo híbrido

Este modelo consta de: 

Modelo híbrido = SVD (Factorización) + KNNWithZScore + KNNWithZScore_City + KNNWithZScore_Friends

Es necesario diseñar la función de predicción, y adicionalmente, ajustar los pesos de cada uno de los sub-modelos de acuerdo con las métricas óptimas.

In [105]:
# Cargamos los modelos
from surprise import dump
svd = dump.load('data/models/svd.pkl')[1]
nmf = dump.load('data/models/nmf.pkl')[1]
knn = dump.load('data/models/knn.pkl')[1]

In [106]:
def get_weights(city_successful, friends_successful):
    # Order: SVD, KNN, KNN_City, KNN_Friends
    # 4 Cases according to the booleans
    
    if city_successful and friends_successful:
        return [0.25, 0.5, 0.2, 0.05]
    elif city_successful and not friends_successful:
        return [0.3, 0.5, 0.2, 0.0]
    elif not city_successful and friends_successful:
        return [0.3, 0.6, 0.0, 0.1]
    else:
        return [0.4, 0.6, 0.0, 0.0]

In [107]:
# Make hybrid predictions
def hybrid_predict(user_id, business_id, should_print = False):
    knn_city = get_knn_city(user_id, business_id, should_print) 
    knn_friends = get_knn_friends(user_id, business_id, should_print)
    city_successful = knn_city is not None
    friends_successful = knn_friends is not None
    
    svd_prediction = svd.predict(user_id, business_id).est
    knn_prediction = knn.predict(user_id, business_id).est
    knn_city_prediction = 0
    knn_friends_prediction = 0
    knn_city_print = "There is not enough information to create a recommendation model."
    knn_friends_print = "There is not enough information to create a recommendation model."

    if city_successful:
        knn_city_prediction = knn_city.predict(user_id, business_id).est

    if friends_successful:
        knn_friends_prediction = knn_friends.predict(user_id, business_id).est

    if should_print:
        print("SVD:", svd_prediction)
        print("KNN:", knn_prediction)
        print("KNN City:", "There is not enough information to create a recommendation model." if not city_successful else knn_city_prediction)
        print("KNN Friends:", "There is not enough information to create a recommendation model." if not friends_successful else knn_friends_prediction)
        print("-------------------")
    
    models_predictions = [svd_prediction, knn_prediction, knn_city_prediction, knn_friends_prediction]
    weights = get_weights(city_successful, friends_successful)
    
    hybrid_prediction = np.dot(weights, models_predictions)
    
    return hybrid_prediction

In [108]:
# Usage example of hybrid predictor
case = 5
user_id = ''
business_id = ''

if case==1:    
    # Case 1 - 1.0
    user_id = '3TL6HZ1JrKcNTvGDWKlrow'
    business_id = 'GyC36Pn0Q1-qHnqXys6yFg'
elif case==2:
    # Case 2 - 2.0
    user_id = 'kHmXUEOAsIbguUrPoX6Tkg'
    business_id = 'iD25g7vUG3asELjXtMGF9w'
elif case==3:
    # Case 3 - 3.0
    user_id = 'WBpQDAZymU0dhIqXcACGNw'
    business_id = 'ut6fi2W2YaipNOqvi7e0jw'
elif case==4:
    # Case 4 - 4.0
    user_id = 'smOvOajNG0lS4Pq7d8g4JQ'
    business_id = 'RZtGWDLCAtuipwaZ-UfjmQ'
elif case==5:
    # Case 5 - 5.0
    user_id = '1WHRWwQmZOZDAhp2Qyny4g'
    business_id = 'uMvVYRgGNXf5boolA9HXTw'
elif case==6:
    # Case 6 - The business has not enough city reviews
    user_id = '3TL6HZ1JrKcNTvGDWKlrow'
    business_id = 'g7iNHUin9RzSfaJBY7Xuew'
elif case==7:
    # Case 7 - The user has not enough friends
    user_id = 'sadsadsadsadas'
    business_id = 'uMvVYRgGNXf5boolA9HXTw'
elif case==8:
    # Case 8 - The user has not enough friends and the business has not enough city reviews
    user_id = 'sadsadsadsadas'
    business_id = 'g7iNHUin9RzSfaJBY7Xuew'

prediction = hybrid_predict(user_id, business_id, True)
print(prediction)

Tampa
Num. reviews 784
-------------------
Friends information
           stars
count  11.000000
mean    3.909091
std     0.700649
min     3.000000
25%     3.500000
50%     4.000000
75%     4.000000
max     5.000000
-------------------
SVD: 3.8954569506387484
KNN: 3.8954569506387484
KNN City: 3.8149920255183414
KNN Friends: 4.0
-------------------
3.8845911180827297

In [88]:
len(testset)

3308

In [25]:
# Get the predictions for the test set
test_preds = [hybrid_predict(uid, iid) for uid, iid, _ in testset]

In [26]:
len(test_preds)

3308

In [30]:
test_values = []
for _, _, rating in testset:
    test_values.append(rating)

In [33]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

print("RMSE",mean_squared_error(test_values, test_preds))
print("MAE", mean_absolute_error(test_values, test_preds))

RMSE 0.984242036071063
MAE 0.7684077262758652

In [112]:
import random

def get_top_n(user_id, n):
    print("User:", user_id)
    
    # Get all businesses the user has not reviewed
    all_businesses = set(df['business_id'].unique())
    reviewed_businesses = set(df[df['user_id'] == user_id]['business_id'].unique())
    unreviewed_businesses = all_businesses - reviewed_businesses
    print("Total business:", len(unreviewed_businesses))
    
    unreviewed_businesses = list(unreviewed_businesses)
    num_business = len(unreviewed_businesses)
    num_sample = int(num_business * 0.01)
    unreviewed_businesses = random.sample(unreviewed_businesses, num_sample)
    
    # Make predictions for unreviewed businesses and sort by prediction
    predictions = []
    for business_id in unreviewed_businesses:
        prediction = hybrid_predict(user_id, business_id, False)
        predictions.append((business_id, prediction))
        #print((business_id, prediction))
    predictions.sort(key=lambda x: x[1], reverse=True)

    # Get top n recommended businesses and their predictions
    top_n = predictions[:n]
    top_n_businesses = [x[0] for x in top_n]
    top_n_predictions = [x[1] for x in top_n]
    top_n_percentage = [str(round(x/5*100, 2))+"%" for x in top_n_predictions]

    # Create DataFrame with business ids and predictions
    df_top_n = pd.DataFrame({'business_id': top_n_businesses, 'prediction': top_n_predictions, 'percentage': top_n_percentage})
    df_top_n =  pd.merge(df_top_n, df_business, on='business_id')
    return df_top_n

# Example usage of hybrid predictor
n = 10
top_n_business_ids = get_top_n(user_id, n)
top_n_business_ids

User: 1WHRWwQmZOZDAhp2Qyny4g
Total business: 4719

,business_id,prediction,percentage,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,m9XUd08b6XLILfXxs-ZGvQ,4.043075,80.86%,Tips & Toes,531 York Rd,Warminster,PA,18974,40.204633,-75.099462,3.5,13,1,"{'ByAppointmentOnly': 'False', 'BusinessAccept...","Nail Salons, Beauty & Spas",None
1,8zTCu7guUenvlLeKya0AXg,4.018613,80.37%,Bimmerworks,721 E Nields St,West Chester,PA,19382,39.959157,-75.588299,4.5,13,1,{'BusinessAcceptsCreditCards': 'True'},"Automotive, Auto Repair","{'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', ..."
2,KJK4cCS1Toi7qzpOxcvhFg,3.975193,79.5%,La Encantada,2905 E Skyline Dr,Tucson,AZ,85718,32.324742,-110.929997,4.0,88,1,"{'RestaurantsPriceRange2': '3', 'BusinessAccep...","Shopping Centers, Shopping","{'Monday': '10:0-19:0', 'Tuesday': '10:0-18:0'..."
3,fWbQiSAErNcznezzkfCdvg,3.973602,79.47%,Ferrel's Chiropractic,"533 E Micheltorena St, Ste 200",Santa Barbara,CA,93103,34.432568,-119.701846,4.5,8,1,"{'ByAppointmentOnly': 'True', 'AcceptsInsuranc...","Chiropractors, Health & Medical","{'Monday': '7:30-13:0', 'Tuesday': '7:30-18:0'..."
4,3puk4beQqK6zz8N4nTdhtQ,3.972262,79.45%,Hello Hair Salon,1905 S 13th St,Philadelphia,PA,19148,39.926343,-75.166891,4.0,39,1,"{'RestaurantsPriceRange2': '2', 'ByAppointment...","Hair Salons, Beauty & Spas","{'Monday': '0:0-0:0', 'Tuesday': '21:0-21:30',..."
5,GJnYFvk9kbM182bKMFSAvg,3.963347,79.27%,Peno,7600 Wydown Blvd,Clayton,MO,63105,38.642721,-90.333404,4.5,152,1,"{'Alcohol': 'u'full_bar'', 'RestaurantsReserva...","Italian, Soul Food, Sardinian, Calabrian, Rest...","{'Tuesday': '17:0-21:0', 'Wednesday': '17:0-21..."
6,sD6qoFbuvGPbQyFDLimdyw,3.959181,79.18%,YouFit Gyms,3066 Holiday Dr,New Orleans,LA,70131,29.921225,-90.011517,3.0,14,1,"{'GoodForKids': 'False', 'DogsAllowed': 'False...","Active Life, Health & Medical, Nutritionists, ...","{'Monday': '0:0-0:0', 'Tuesday': '5:0-22:0', '..."
7,AcbOk6rzLDEBqQCNQ3HCCQ,3.956510,79.13%,Foggy Bottom Canoe Rocks,1270 Hwy 70,Kingston Springs,TN,37082,36.122811,-87.096378,4.0,45,1,"{'BusinessAcceptsCreditCards': 'True', 'Busine...","Rafting/Kayaking, Active Life, Shopping, Sport...","{'Monday': '9:0-15:0', 'Tuesday': '9:0-15:0', ..."
8,rOsC1rDpIxvNoHxEvNFjeA,3.951036,79.02%,Backspace Bar & Kitchen,139 Chartres St,New Orleans,LA,70130,29.953441,-90.067527,4.0,443,1,"{'RestaurantsPriceRange2': '2', 'RestaurantsRe...","Burgers, Beer, Wine & Spirits, Cocktail Bars, ...","{'Monday': '11:30-2:0', 'Tuesday': '11:30-2:0'..."
9,4ieBZ94-Bpn7BBvN1fGCyQ,3.949918,79.0%,Eiteljorg Museum of American Indians & Western...,500 W Washington St,Indianapolis,IN,46204,39.768457,-86.167788,4.5,109,1,"{'GoodForKids': 'True', 'RestaurantsPriceRange...","Arts & Entertainment, Art Museums, Festivals, ...","{'Monday': '10:0-17:0', 'Tuesday': '10:0-17:0'..."